/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable comment-whitespace-inside */

:root {
  --progress1: 4%;
  --progressoveral: 1%;
}

/*--------------------General--------------------*/

body {
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 10px;
}

h2,
h3 {
  text-align: center;
}

main {
  padding: 10px 15px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-bottom: 40px;
  background-color: rgba(128 128 128 / 59%);
  overflow: hidden;
}

article {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

section {
  padding: 10px 15px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 150px;
  background-color: rgba(128 128 128 / 75%);
  overflow: hidden;
}

footer {
  margin-top: 25px;
  bottom: 0;
  height: 100px;
  background-color: rgba(128 128 128 / 29.9%);
  border: 1px solid rgba(0 0 0 / 32%);
  padding: 10px;
}

.centertext {
  text-align: center;
}

.img {
  height: 200px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 15px;
}

.imgstanding {
  width: 200px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 15px;
}

.homeimg {
  width: 75%;
  max-width: 500px;
  border-radius: 15px;
  border: 2px solid grey;
}

.linkedimg {
  border: 2px solid grey;
}

.linkedimg:hover {
  border-color: white;
  transform: scale(1.019);
  transition: 0.2s;
}

.footerlinks {
  list-style-type: none;
  text-decoration: none;
}

.footerlinks:hover {
  text-decoration: underline;
}

.faq {
  height: 50px;
  transition: 0.5s;
  overflow: hidden;
}

.faq:hover {
  height: 180px;
}

.blogpost:hover {
  transform: scale(1.01);
  transition: 0.05s;
}

/*-------------------Dashboard----------------------*/

table {
  background-color: rgba(240 248 255 / 50%);
  border-radius: 15px;
}

table,
th,
td {
  margin: 50px auto;
  border: 1px solid black;
  padding: 10px;
}

th,
td {
  border-radius: 5px;
}

th {
  background-color: grey;
}

.passed {
  background-color: green;
}

.failed {
  background-color: rgba(255 0 0 / 81.7%);
}

.ec {
  text-align: center;
}

/*-------------------Links color----------------------*/

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.active {
  background-color: gray;
  color: white;
}

/*--------------------Menu---------------------*/

.menu {
  list-style-type: none;
  overflow: hidden;
  background-color: aliceblue;
  height: 50px;
  padding-left: 5px;
  border: 1px solid black;
}

.menu2 {
  /*lists in div*/
  margin: 0;
}

.menubox {
  float: left;
  display: block;
  padding: 8px 15px;
  font-size: 17px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.menubox:hover {
  background-color: grey;
}

/*-------------------Side bar----------------------*/

aside {
  border: 1px solid black;
  padding: 0;
  height: 50px;
  width: 45px;
  background-color: aliceblue;
  transition: all 0.7s;
  overflow: hidden;
  position: fixed;
  top: 78px;
  left: 0;
}

.sidemenu2 {
  /*lists in div*/
  padding-left: 0;
}

aside:hover {
  padding: 10px;
  width: 185px;
  height: 280px;
  overflow: hidden;
}

.sidemenubox {
  float: center;
  display: block;
  padding: 7px 5px;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.sidemenubox:hover {
  background-color: grey;
}

.topbox {
  margin-top: -12px;
}

.imgsidebar {
  width: 160px;
}

.imgsidebar2 {
  width: 30px;
}

.sidebaricon {
  width: 30px;
  height: 30px;
}

/*-------------------Study progress bar----------------------*/

.studyprogressbary1 {
  overflow: hidden;
  background-color: aliceblue;
  height: 50px;
  width: 75%;
  margin: auto;
  border: 3px solid black;
  padding: 2px;
}

.studyprogressy1 {
  background-color: green;
  height: 102%;
  animation: loadProgressY1 ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.studyprogressbar {
  overflow: hidden;
  background-color: aliceblue;
  height: 50px;
  width: 75%;
  margin: auto;
  border: 3px solid black;
  padding: 2px;
}

.studyprogress {
  background-color: green;
  height: 102%;
  animation: loadProgress ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: -0.5px;
}

.studyprogresstext {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

@keyframes loadProgressY1 {
  0% {
    width: 0%;
  }

  100% {
    width: var(--progress1); /* Behaald aantal punten / totaal aantal punten(Y1/240EC) * 100 */
  }
}

@keyframes loadProgress {
  0% {
    width: 0%;
  }

  100% {
    width: var(--progressoveral); /* Behaald aantal punten / totaal aantal punten(Y1/240EC) * 100 */
  }
}

/*-------------------Photogallery----------------------*/

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px 15px;
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px 10px;
}

.galleryimg {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
