body {
  background-color: lightgrey;
  

}

h1 {
  text-align: center;
  font-size: 50px;
}
h2{
  text-align: center;
}

.img {
  height: 200px;
}


.menu {
  list-style-type: none;
  overflow: hidden;
  background-color: aliceblue;
  height: 50px;
}
.menu2{
  /*lists in div*/
  margin: 0;
}

.menubox {
  float: left;
  display: block;
  padding: 8px 15px;
  font-size: 17px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.menubox:hover {
  background-color: grey;
  }

  .sidemenu {
    
    margin-top: 0px;
    position: fixed;
    list-style-type: none;
    width: 25px;
    overflow: auto;
    
    height: 140px;
    
  }
  .sidemenu2{
    /*lists in div*/
    padding-left:0px;
  }
  
  .sidemenubox {
    float: center;
    display: block;
    padding: 5px;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .sidemenubox:hover {
    background-color: grey;
    }

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.active {
  background-color: gray;
  color: white;
}

.text {
  color: black;
  list-style-type: none;
  margin-left:200px;
}

.sidemenu{
  height: 75vh;
  width: 45px;
  background-color: aliceblue;
  transition: width 0.3s;
  overflow: hidden;
  position: absolute;
  top: 200px;
  left: 0;
}

.sidemenu:hover{
  width: 160px;
  overflow: visible;
}

.imgsidebar{
  width: 160px;
}



