body {
    background-color:light-grey;
    padding: 20px;
    
}
h1, h2{
    text-align: center;
}
.img
{
    height:200px;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: aliceblue;
}
li a{
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}
a{
    color: black;
}

  a:visited {
    color: black;
  }
  
  a:hover {
    color: white;
  }
  
  a:active {
    color: white;
  }
  .active{
    background-color: gray;
    color: white;
  }